In [34]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
import os
import pandas as pd
import time

df_notas = pd.read_excel('./NotasEmitir.xlsx')
df_notas.head(3)

,Cliente,CPF/CNPJ,CEP,Endereço,Bairro,Municipio,UF,Inscricao Estadual,Descrição,Quantidade,Valor Unitario,Valor Total
0,Valentina Márcia Melissa da Cunha,25379574076,73402036,Módulo Módulo 12,Estância Mestre D'Armas V (Planaltina),Brasília,DF,213873,Nota referente aos serviços prestados/produtos...,3,273,819
1,Lara Benedita Josefa Drumond,30227643160,78730170,Avenida Manoel de Araújo Piau,Jardim Belo Panorama,Rondonópolis,MT,194139,Nota referente aos serviços prestados/produtos...,6,730,4380
2,Silvana Melissa da Paz,36636402806,69308220,Rua Madre Rosa,Treze de Setembro,Boa Vista,RR,203703,Nota referente aos serviços prestados/produtos...,2,389,778

## Tratando dados

In [35]:
cols = {}
campos = [
    'nome',
    'endereco',
    'bairro',
    'municipio',
    'cep',
    'uf',
    'cnpj',
    'inscricao',
    'descricao',
    'quantidade',
    'valor_unitario',
    'total'
]
for i, col in enumerate(df_notas):
    cols[col] = campos[i]

df_notas.rename(columns=cols, inplace=True)
df_notas.head(1)

,nome,endereco,bairro,municipio,cep,uf,cnpj,inscricao,descricao,quantidade,valor_unitario,total
0,Valentina Márcia Melissa da Cunha,25379574076,73402036,Módulo Módulo 12,Estância Mestre D'Armas V (Planaltina),Brasília,DF,213873,Nota referente aos serviços prestados/produtos...,3,273,819

In [36]:
df_notas.shape

(30, 12)

In [37]:
df_notas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nome            30 non-null     object
 1   endereco        30 non-null     int64
 2   bairro          30 non-null     int64
 3   municipio       30 non-null     object
 4   cep             30 non-null     object
 5   uf              30 non-null     object
 6   cnpj            30 non-null     object
 7   inscricao       30 non-null     int64
 8   descricao       30 non-null     object
 9   quantidade      30 non-null     int64
 10  valor_unitario  30 non-null     int64
 11  total           30 non-null     int64
dtypes: int64(6), object(6)
memory usage: 2.9+ KB

In [38]:
df_notas.isnull().sum()

nome              0
endereco          0
bairro            0
municipio         0
cep               0
uf                0
cnpj              0
inscricao         0
descricao         0
quantidade        0
valor_unitario    0
total             0
dtype: int64

## Automação

In [28]:
service = Service(ChromeDriverManager().install())
nav = webdriver.Chrome(service=service)

In [52]:
# entrar na página de login
caminho = os.getcwd()
arquivo = caminho + r'\\login.html'
nav.get(arquivo)

In [53]:
# fazer login
login = nav.find_element(By.XPATH, '/html/body/div/form/input[1]')
login.send_keys('admin')
senha = nav.find_element(By.XPATH, '/html/body/div/form/input[2]')
senha.send_keys('admin')
bt_login = nav.find_element(By.XPATH, '/html/body/div/form/button')
bt_login.click()

In [61]:
# preencher formularios
for col in df_notas:
    element = nav.find_element(By.NAME, col)