In [23]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
import os
import pandas as pd
import time

df_notas = pd.read_excel('./NotasEmitir.xlsx')
df_notas.head(3)

,Cliente,CPF/CNPJ,CEP,Endereço,Bairro,Municipio,UF,Inscricao Estadual,Descrição,Quantidade,Valor Unitario,Valor Total
0,Valentina Márcia Melissa da Cunha,25379574076,73402036,Módulo Módulo 12,Estância Mestre D'Armas V (Planaltina),Brasília,DF,213873,Nota referente aos serviços prestados/produtos...,3,273,819
1,Lara Benedita Josefa Drumond,30227643160,78730170,Avenida Manoel de Araújo Piau,Jardim Belo Panorama,Rondonópolis,MT,194139,Nota referente aos serviços prestados/produtos...,6,730,4380
2,Silvana Melissa da Paz,36636402806,69308220,Rua Madre Rosa,Treze de Setembro,Boa Vista,RR,203703,Nota referente aos serviços prestados/produtos...,2,389,778

## Tratando dados

In [24]:
cols = {}
for col in df_notas:
    cols[col] = col.upper().replace(' ', '_').replace('/', '_').replace('Ç', 'C').replace('Ã', 'A')

df_notas.rename(columns=cols, inplace=True)
df_notas.head(1)

,CLIENTE,CPF_CNPJ,CEP,ENDERECO,BAIRRO,MUNICIPIO,UF,INSCRICAO_ESTADUAL,DESCRICAO,QUANTIDADE,VALOR_UNITARIO,VALOR_TOTAL
0,Valentina Márcia Melissa da Cunha,25379574076,73402036,Módulo Módulo 12,Estância Mestre D'Armas V (Planaltina),Brasília,DF,213873,Nota referente aos serviços prestados/produtos...,3,273,819

In [25]:
df_notas.shape

(30, 12)

In [26]:
df_notas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CLIENTE             30 non-null     object
 1   CPF_CNPJ            30 non-null     int64
 2   CEP                 30 non-null     int64
 3   ENDERECO            30 non-null     object
 4   BAIRRO              30 non-null     object
 5   MUNICIPIO           30 non-null     object
 6   UF                  30 non-null     object
 7   INSCRICAO_ESTADUAL  30 non-null     int64
 8   DESCRICAO           30 non-null     object
 9   QUANTIDADE          30 non-null     int64
 10  VALOR_UNITARIO      30 non-null     int64
 11  VALOR_TOTAL         30 non-null     int64
dtypes: int64(6), object(6)
memory usage: 2.9+ KB

In [27]:
df_notas.isnull().sum()

CLIENTE               0
CPF_CNPJ              0
CEP                   0
ENDERECO              0
BAIRRO                0
MUNICIPIO             0
UF                    0
INSCRICAO_ESTADUAL    0
DESCRICAO             0
QUANTIDADE            0
VALOR_UNITARIO        0
VALOR_TOTAL           0
dtype: int64

## Automação

In [28]:
service = Service(ChromeDriverManager().install())
nav = webdriver.Chrome(service=service)

In [29]:
# entrar na página de login
caminho = os.getcwd()
arquivo = caminho + r'\\login.html'
nav.get(arquivo)

In [30]:
# fazer login
login = nav.find_element(By.XPATH, '/html/body/div/form/input[1]')
login.send_keys('admin')
senha = nav.find_element(By.XPATH, '/html/body/div/form/input[2]')
senha.send_keys('admin')
bt_login = nav.find_element(By.XPATH, '/html/body/div/form/button')
bt_login.click()