In [114]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
from webdriver_manager.chrome import ChromeDriverManager
import os
import pandas as pd
import time

df_notas = pd.read_excel('./NotasEmitir.xlsx')
df_notas.head(3)

,Cliente,CPF/CNPJ,CEP,Endereço,Bairro,Municipio,UF,Inscricao Estadual,Descrição,Quantidade,Valor Unitario,Valor Total
0,Valentina Márcia Melissa da Cunha,25379574076,73402036,Módulo Módulo 12,Estância Mestre D'Armas V (Planaltina),Brasília,DF,213873,Nota referente aos serviços prestados/produtos...,3,273,819
1,Lara Benedita Josefa Drumond,30227643160,78730170,Avenida Manoel de Araújo Piau,Jardim Belo Panorama,Rondonópolis,MT,194139,Nota referente aos serviços prestados/produtos...,6,730,4380
2,Silvana Melissa da Paz,36636402806,69308220,Rua Madre Rosa,Treze de Setembro,Boa Vista,RR,203703,Nota referente aos serviços prestados/produtos...,2,389,778

## Tratando dados

In [115]:
cols = {}
campos = [
    'nome',
    'cnpj',
    'cep',
    'endereco',
    'bairro',
    'municipio',
    'uf',
    'inscricao',
    'descricao',
    'quantidade',
    'valor_unitario',
    'total'
]
for i, col in enumerate(df_notas):
    cols[col] = campos[i]

df_notas.rename(columns=cols, inplace=True)
df_notas.head(1)

,nome,cnpj,cep,endereco,bairro,municipio,uf,inscricao,descricao,quantidade,valor_unitario,total
0,Valentina Márcia Melissa da Cunha,25379574076,73402036,Módulo Módulo 12,Estância Mestre D'Armas V (Planaltina),Brasília,DF,213873,Nota referente aos serviços prestados/produtos...,3,273,819

In [116]:
df_notas.shape

(30, 12)

In [117]:
df_notas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nome            30 non-null     object
 1   cnpj            30 non-null     int64
 2   cep             30 non-null     int64
 3   endereco        30 non-null     object
 4   bairro          30 non-null     object
 5   municipio       30 non-null     object
 6   uf              30 non-null     object
 7   inscricao       30 non-null     int64
 8   descricao       30 non-null     object
 9   quantidade      30 non-null     int64
 10  valor_unitario  30 non-null     int64
 11  total           30 non-null     int64
dtypes: int64(6), object(6)
memory usage: 2.9+ KB

In [118]:
df_notas.isnull().sum()

nome              0
cnpj              0
cep               0
endereco          0
bairro            0
municipio         0
uf                0
inscricao         0
descricao         0
quantidade        0
valor_unitario    0
total             0
dtype: int64

## Automação

In [119]:
options = webdriver.ChromeOptions()
options.add_experimental_option("prefs", {
  "download.default_directory": r"C:\Users\luke\downloads",
  "download.prompt_for_download": False,
  "download.directory_upgrade": True,
  "safebrowsing.enabled": True
})

service = Service(ChromeDriverManager().install())
nav = webdriver.Chrome(service=service, options=options)

In [125]:
# entrar na página de login
caminho = os.getcwd()
arquivo = caminho + r'\\login.html'
nav.get(arquivo)

In [126]:
# fazer login
login = nav.find_element(By.XPATH, '/html/body/div/form/input[1]')
login.send_keys('admin')
senha = nav.find_element(By.XPATH, '/html/body/div/form/input[2]')
senha.send_keys('admin')
bt_login = nav.find_element(By.XPATH, '/html/body/div/form/button')
bt_login.click()

In [127]:
for row in df_notas.iterrows():
    print(row[1])
    break

nome                              Valentina Márcia Melissa da Cunha
cnpj                                                    25379574076
cep                                                        73402036
endereco                                           Módulo Módulo 12
bairro                       Estância Mestre D'Armas V (Planaltina)
municipio                                                  Brasília
uf                                                               DF
inscricao                                                    213873
descricao         Nota referente aos serviços prestados/produtos...
quantidade                                                        3
valor_unitario                                                  273
total                                                           819
Name: 0, dtype: object

In [128]:
print(df_notas)

                                  nome         cnpj       cep  \
0    Valentina Márcia Melissa da Cunha  25379574076  73402036
1         Lara Benedita Josefa Drumond  30227643160  78730170
2               Silvana Melissa da Paz  36636402806  69308220
3          Pietro Diego César Monteiro  51701896486  60182541
4                  Tomás Gabriel Alves  59992546980  96830690
5                 Rodrigo Manoel Nunes  83916914545  60345640
6                   Lúcia Allana Pires  74029234607  68909823
7                  Kaique Lucca Mendes  72386991504  41340080
8       Guilherme Yago Manoel Teixeira  31373115190  40290635
9        Lavínia Clarice Luciana Silva  54617353127  73813530
10                Pietro Davi Silveira  81065601808  57061660
11         Thiago Tiago Renato Almeida  19491985108  78155160
12              Alice Gabrielly Galvão  35156879470  68928111
13               Mateus Vitor da Silva  11373151641  41290380
14        Luana Pietra Luciana Peixoto  79087727810  52051140
15                   Diogo Luan Novaes  26602467182  33822508
16     Emanuel Arthur Guilherme Almada  42907367188  81170646
17             Murilo César Nascimento  71419355414  59104267
18  Jennifer Vanessa Amanda dos Santos  49037173802  35900776
19           Márcio Diogo Cauã Freitas  72002560641  56316635
20                  Kauê Carlos Duarte  32488154695   4015012
21                Mateus Manoel Vieira  87420032610  67146037
22             Lúcia Lara Sueli Barros  67866395853  69902738
23             Isabella Heloise Moraes  51545705372  60767370
24       Manuela Hadassa Nair de Paula  78550813729  72270418
25  Gustavo Diego Gabriel da Conceição  92100026100  72320569
26              Sarah Alícia Fernandes  59408458435  78015245
27       Heitor Marcos Lucca das Neves  54121182677  72502607
28     Eduarda Malu Luciana Figueiredo  10266544088  37705032
29         Thiago Theo Alexandre Brito  45146212775  69151240

                                           endereco  \
0                                  Módulo Módulo 12
1                     Avenida Manoel de Araújo Piau
2                                    Rua Madre Rosa
3                                Rua Sousa Bandeira
4   Rua Capitão Francisco Cândido de Castro Menezes
5                           Travessa João Rodrigues
6                  Avenida Hermes Monteiro da Silva
7                               Caminho 20-Setor 02
8                              2ª Travessa da China
9                                       Travessa 13
10                                 Rua João Batista
11                                 Rua Paulo Afonso
12                                       Travessa I
13                           Travessa Santo Antônio
14                   Rua Treinador Cláudio Coutinho
15                                    Rua Existente
16                               Rua Osmar Lipinski
17               4ª Travessa Santo Inácio de Loyola
18                                            Rua B
19                              Avenida Frei Damião
20                               Rua Joaquim Távora
21                             Quadra Trinta e Sete
22                                        Rua Nobre
23                                            Rua F
24                         Quadra QNQ 4 Conjunto 18
25                         Quadra QN 414 Conjunto I
26                          Rua João Barbosa Farias
27                         Quadra QR 402 Conjunto G
28                             Rua Newton Romanelli
29                      Rua Marechal Castelo Branco

                                    bairro           municipio  uf  inscricao  \
0   Estância Mestre D'Armas V (Planaltina)            Brasília  DF     213873
1                     Jardim Belo Panorama        Rondonópolis  MT     194139
2                        Treze de Setembro           Boa Vista  RR     203703
3                            Antônio Diogo           Fortaleza  CE     326342
4                                  Aliança   Santa Cruz do Sul  RS     549783
5                               Vila Velha           Fortaleza  CE     554821
6                           Novo Horizonte              Macapá  AP     396745
7                               Cajazeiras            Salvador  BA     338595
8                          Acupe de Brotas            Salvador  BA     248303
9                               Formosinha             Formosa  GO     253537
10                    Tabuleiro do Martins              Maceió  AL     153307
11                              São Marcos       Várzea Grande  MT     213601
12                                 Paraíso             Santana  AP     534596
13                                  Pirajá            Salvador  BA     623260
14                             Tamarineira              Recife  PE     637467
15                                  Vereda  Ribeirão das Neves  MG     644472
16                       Cidade Industrial            Curitiba  PR     937283
17                                   Igapó               Natal  RN     480621
18                             Vila Salica             Itabira  MG     755781
19                            João de Deus           Petrolina  PE     653384
20                            Vila Mariana           São Paulo  SP     578486
21                                 Maguari          Ananindeua  PA     849023
22                            Chico Mendes          Rio Branco  AC     214145
23                                Mondubim           Fortaleza  CE     290348
24             Ceilândia Norte (Ceilândia)            Brasília  DF     191108
25             Samambaia Norte (Samambaia)            Brasília  DF     193798
26                              Dom Aquino              Cuiabá  MT     796878
27                             Santa Maria            Brasília  DF     723821
28                   Jardim das Hortênsias     Poços de Caldas  MG     312345
29                                  Centro           Parintins  AM     994124

                                            descricao  quantidade  \
0   Nota referente aos serviços prestados/produtos...           3
1   Nota referente aos serviços prestados/produtos...           6
2   Nota referente aos serviços prestados/produtos...           2
3   Nota referente aos serviços prestados/produtos...           2
4   Nota referente aos serviços prestados/produtos...           9
5   Nota referente aos serviços prestados/produtos...           6
6   Nota referente aos serviços prestados/produtos...           8
7   Nota referente aos serviços prestados/produtos...           5
8   Nota referente aos serviços prestados/produtos...           2
9   Nota referente aos serviços prestados/produtos...           4
10  Nota referente aos serviços prestados/produtos...           7
11  Nota referente aos serviços prestados/produtos...           3
12  Nota referente aos serviços prestados/produtos...           2
13  Nota referente aos serviços prestados/produtos...           5
14  Nota referente aos serviços prestados/produtos...          10
15  Nota referente aos serviços prestados/produtos...           4
16  Nota referente aos serviços prestados/produtos...           2
17  Nota referente aos serviços prestados/produtos...          10
18  Nota referente aos serviços prestados/produtos...           6
19  Nota referente aos serviços prestados/produtos...           1
20  Nota referente aos serviços prestados/produtos...           5
21  Nota referente aos serviços prestados/produtos...           8
22  Nota referente aos serviços prestados/produtos...           9
23  Nota referente aos serviços prestados/produtos...           6
24  Nota referente aos serviços prestados/produtos...           9
25  Nota referente aos serviços prestados/produtos...           2
26  Nota referente aos serviços prestados/produtos...           4
27  Nota referente aos serviços prestados/produtos...           7
28  Nota referente aos serviços prestados/produtos...           7
29  Nota referente aos serviços prestados/produtos...           1

    valor_unitario  total
0              273    819
1              730   4380
2              389    778
3              652   1304
4              533   4797
5              440   2640
6              466   3728
7              488   2440
8              725   1450
9              794   3176
10             420   2940
11             343   1029
12             976   1952
13             633   3165
14             141   1410
15             778   3112
16             784   1568
17             436   4360
18             679   4074
19             405    405
20             134    670
21             854   6832
22             212   1908
23             470   2820
24             912   8208
25             557   1114
26             951   3804
27             564   3948
28             937   6559
29             617    617

In [138]:
x = nav.find_element(By.NAME, 'uf').get_attribute('value')
x

''

In [143]:
# preencher formularios
register_btn = nav.find_element(By.XPATH, '//*[@id="formulario"]/button')
for index, row in df_notas.iterrows():
    for col in df_notas.columns:
        element = nav.find_element(By.NAME, col)
        # time.sleep(0.5)
        element.send_keys(row[col])

    register_btn.click()
    for col in df_notas.columns:
        if col not in 'uf':
            element = nav.find_element(By.NAME, col)
            element.clear()

    # time.sleep(2)